[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-mysql = "*"
flask-mysqldb = "*"
flask-bootstrap = "*"
flask-wtf = "*"
python-dotenv = "*"
mysql-connector-python = "*"
jinja2 = "*"
cloudinary = "*"

[dev-packages]

[requires]
python_version = "3.10"
