{% extends "base.html" %}

{% block title %}Student Information System{% endblock %}

{% block content %}
<main class="container mt-4">
    <h2 class="mb-4">Student List</h2>
    <div class="row mb-3">
        <div class="col-md-8">
            <div class="input-group">
                <select id = "search_field" class="form-select" style="max-width: 120px;">
                    <option value = "all">Field</option>
                    <option value = "0"> ID Number </option>
                    <option value = "1"> First Name </option>
                    <option value = "2"> Last Name </option>
                    <option value = "3"> Program </option>
                    <option value = "4"> Year </option>
                    <option value = "5"> Gender </option>
                </select>
                <input type="text" id="search_input" class = "form-control" placeholder="Search">
            </div>
        </div>
        <div class="col-md-4 text-md-end mt-3 mt-md-0">
            <button class="btn btn-success" data-bs-toggle = "modal" data-bs-target = "#addStudentModal">Add Student</button>
        </div>
    </div>
    <div class="table-responsive">
        <table id = "student_table" class="table table-striped">
            <thead>
                <tr>
                    <th>ID Number</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Program</th>
                    <th>Year</th>
                    <th>Gender</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for stud in student %}
                <tr>
                    <td>{{ stud[0] }}</td>
                    <td>{{ stud[1] }}</td>
                    <td>{{ stud[2] }}</td>
                    <td>{{ stud[3] }}</td>
                    <td>{{ stud[4] }}</td>
                    <td>{{ stud[5] }}</td>
                    <td>
                        <button class="btn btn-warning btn-sm edit-btn" data-bs-toggle = "modal" data-bs-target = "#editStudentModal" data-id = "{{stud[0]}}" data-first-name = "{{stud[1]}}" data-last-name = "{{stud[2]}}" data-program ="{{stud[3]}}" data-year = "{{stud[4]}}" data-gender = "{{stud[5]}}" >Edit</button>
                        <button class="btn btn-danger btn-sm delete-btn" data-bs-toggle="modal" data-bs-target="#deleteStudent" data-id="{{ stud[0] }}">Delete</button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</main>
<div class="modal fade" id="addStudentModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addStudentModalLabel">Add Student</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form id="addStudentForm" action="{{url_for('student.add_student')}}" method="POST">
            {{ add_form.hidden_tag() }}
            <div class="mb-3">
                {{add_form.student_id.label(class = "form-label")}}
                {{add_form.student_id(class = "form-control")}}
              </div>
            <div class="mb-3">
                {{add_form.first_name.label(class = "form-label")}}
                {{add_form.first_name(class = "form-control")}}
            </div>
            <div class="mb-3">
                {{add_form.last_name.label(class = "form-label")}}
                {{add_form.last_name(class = "form-control")}}
            </div>
            <div class="mb-3">
                {{add_form.course.label(class = "form-label")}}
                {{ add_form.course(class="selectpicker", data_live_search="true", data_style="btn-primary", data_width="100%") }}
            </div>
            <div class="mb-3">
                {{add_form.year.label(class = "form-label")}}
                {{add_form.year(class = "form-control")}}
            </div>
            <div class="mb-3">
                {{add_form.gender.label(class = "form-label")}}
                {{add_form.gender(class = "form-control")}}
            </div>
            <button type="submit" class="btn btn-primary">Add Student</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="editStudentModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editStudentModalLabel">Edit Student</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form id="editStudentForm" method="POST">
            {{edit_form.hidden_tag()}}
            <div class="mb-3">
                {{edit_form.edit_student_id.label(class = "form-label")}}
                {{edit_form.edit_student_id(class = "form-control")}}
              </div>
            <div class="mb-3">
                {{edit_form.edit_first_name.label(class = "form-label")}}
                {{edit_form.edit_first_name(class = "form-control")}}
            </div>
            <div class="mb-3">
                {{edit_form.edit_last_name.label(class = "form-label")}}
                {{edit_form.edit_last_name(class = "form-control")}}
            </div>
            <div class="mb-3">
                {{edit_form.course.label(class = "form-label")}}
                {{ edit_form.course(class="selectpicker", data_live_search="true", data_style="btn-primary", data_width="100%") }}
            </div>
            <div class="mb-3">
                {{edit_form.edit_year.label(class = "form-label")}}
                {{edit_form.edit_year(class = "form-select")}}
            </div>
            <div class="mb-3">
              {{edit_form.edit_gender.label(class = "form-label")}}
              {{edit_form.edit_gender(class = "form-select")}}
              </select>
            </div>
            <button type="submit" class="btn btn-primary">Edit Student</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="deleteStudent">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteStudentLabel">Confirm Delete</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this Student?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <form id="deleteStudentForm" method="POST">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>


  <script src="{{ url_for('static', filename='js/student_edit.js') }}"></script>
  <script>
    $(document).ready(function() {
        $('#course').selectpicker();
    });
</script>
{% endblock %}